@font-face {
    font-family: "Tommy Normal";
    src: url(../RECURSOS/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tommy Normal";
}

.contenedor-cartas{
    width: 95%;
    max-width: 1200px;
    margin: 70px auto;
    height: 600px;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    background-color: #12203E;
    border-radius: 20px;
}
.titulo{
    grid-column: span 5;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Tommy Normal";
}
.cartas{
    background-color: gray;
    padding: 10px;
    height: 300px;
    border: solid 3px black;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    
    transition: height 0.5s;
}
.cartas:hover{
    height: 500px;
    cursor: pointer;
}
/*
.cartas:hover button{
    opacity: 1;
    bottom: 25px;
}*/
.cartas button{
   
}
.contenedor-cartas button{
    width: 100px;
    height: 40px;
    border: 3px solid black;
    border-radius: 20px;
    opacity: 0;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.img-personaje{
    width: 200px;
    height: 200px;
    background-color: red;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    border-radius: 50%;
    margin-top: 5px;
    display: block;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}
.desplazar{
    opacity: 0;
    transition: all .5s ease;
    transform:  translateY(-45px);
}
.agrandar{
    transform: scale(0);
    opacity: 0;
    transition: all .4s ease;
}

.cartas:hover .agrandar{
opacity: 1;
transform: scale(1);
}

.cartas:hover .desplazar{
transform: translateY(0px);
opacity: 1;
}

.info-personal{
    font-size: 25px;
    padding: 5px;
    
}
.icon-social img{
    color: red;
}
[data-content]{
        display: none;
}
.active[data-content]{
    display: block;
}

