@font-face {
    font-family: "Tommy Normal";
    src: url(../RECURSOS/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-cartas{
    width: 95%;
    max-width: 1100px;
    margin: 70px auto;
    height: 600px;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    background-color: #12203E;
    border-radius: 20px;
}
.contenedor-cartas button{
    cursor: pointer;
}
.titulo{
    grid-column: span 5;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Tommy Normal";
}
.cartas{
    background-color: gray;
    padding: 10px;
    height: 300px;
    border: solid 3px black;
    border-radius: 20px;
    transition: height 0.5s;
}
.cartas:hover{
    height: 500px;
    cursor: pointer;

}

[data-content]{
        display: none;
}
.active[data-content]{
    display: flex;
}

