@font-face {
    font-family: "Tommy Normal";
    src: url(../RECURSOS/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tommy Normal";
}
.contenedor-general{

    width: 95%;
    margin: 20px auto;
    max-width: 1150px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
  
    grid-gap: 10px;
    align-items: center;
}
.navegacion{
    background-color: gray;
    border: black solid 5px;
    width: 60px;
    height: 350px;
    border-radius: 35px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
}

.contenedor-secundario{
    width: 1080px;
    max-width: 1080px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #12203E;
    border-radius: 20px;
}

.contenedor-cartas{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    width: 100%;
    height: 120px;
}
.cartas{
    background-color: gray;
    border: 3px solid black ;
    border-radius: 20px;
    width: 100%;
    height: 120px;
    position: relative;
}

.cartas:hover{
    height: 225px;
    transition: all .3s ease;
}
.nombre{
    position: absolute;
    top: 110px;
    left: 25%;
}
.botones{
    position: absolute;
    top: 160px;
    left: 25%;
}
.redes{
    position: absolute;
    top: 38px;
    left: 53%;
   
}
.redes i {
    font-size: 30px;
}
i:hover{
   
    text-shadow: 0 0 5px rgb(136, 34, 34), 0 0 15px rgb(136, 34, 34),0 0 30px rgb(136, 34, 34), 0 0 50px rgb(136, 34, 34) ;
}
a{
    text-decoration: none;
}

.contenedor-contenido{
    
    width: 100%;
    height: 480px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    left: 25%;
    transition: all 0.3s ease;
}
.home{
    background-color: peru;
    width: 50px;
    height: 50px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid black;
    cursor: pointer;
    transition: all .7s ease;
   
}


.info{
   
    transition: all 0.3s ease;
  
}
.desplazar{

    opacity: 0;
    transition: all .5s ease;
    transform:  translatex(-50px);

}
.agrandar{
    transform: scale(0);
    opacity: 0;
    transition: all .4s ease;
}
.cartas:hover .agrandar{
    opacity: 1;
    transform: scale(1);
    }
.cartas:hover img{
    transform: translateX(-50px);
}
.cartas:hover .desplazar{
    transform: translatex(0px);
    opacity: 1;
    display: block;
    }


[data-content]{
    display: none;
    background-color: red;
    padding: 10px;
    height: 100%;
}
.active[data-content]{
display: block;
}